services:
  platform:
    skip_tls_verification: true
  telemetry:
    enabled: true
    load_defaults: true
    config_location: config/telemetry/dev/*.yml
    disable_signing_verification: true
    signing:
      trusted_public_keys:
        - RWToO+zBnSKDsXC2k64DZ23kwgRW52+BtHfYtFM1NC8MoNL7LxxgoyKn
    skip_tls_verification: false
    # priority is as follows, from the highest priority
    #   1. this config value
    #   2. PERCONA_TEST_SAAS_HOST env variable
    #   3. check.percona.com
    saas_hostname: "localhost"
    endpoints:
      # %s is substituted with `saas_hostname`
      report: https://%s/v1/telemetry/Report
    datasources:
      VM:
        enabled: true
        timeout: 2s
        address: http://localhost:80/victoriametrics/
      QANDB_SELECT:
        enabled: true
        timeout: 2s
        dsn: tcp://127.0.0.1:11000?database=pmm&block_size=10000&pool_size=2
      PMMDB_SELECT:
        enabled: true
        timeout: 2s
        credentials:
          username: pmm-managed
          password: pmm-managed

    reporting:
      skip_tls_verification: false
      send_on_start: true
      interval: 10s
      interval_env: "PERCONA_TEST_TELEMETRY_INTERVAL"
      retry_backoff: 1s
      retry_backoff_env: "PERCONA_TEST_TELEMETRY_RETRY_BACKOFF"
      retry_count: 2
      send_timeout: 10s

extra_headers:
  enabled: true
#  endpoints:
#    - method: POST
#      endpoint: http://localhost:20202/v1/telemetry/Report
#      headers:
#        Auth-Status: "0"
#        Grpc-Metadata-X-Real-IP: "188.255.42.42"
