services:
  alert_manager:
    enabled: true
  vmalert:
    enabled: true
  victoria_metrics:
    enabled: true
  supervisord:
    enabled: true
  platform:
    skip_tls_verification: true
  management:
    ia:
      enabled: true
      templates_dir: "/srv/ia/templates"
      rules_dir: "/etc/ia/rules"
      dir_owner: "pmm"
      dir_owner_group: "pmm"
  telemetry:
    enabled: false
    skip_tls_verification: true
    # priority is as follows, from the highest priority
    #   1. this config value
    #   2. PERCONA_TEST_SAAS_HOST env variable
    #   3. check.percona.com
    saas_hostname: "check.localhost"
    reporting:
      # priority is as follows, from the highest priority
      #   1. value from env name provided by `interval_env`
      #   2. this config value
      interval: 10s
      interval_env: "PERCONA_TEST_TELEMETRY_INTERVAL"
      # priority is as follows, from the highest priority
      #   1. value from env name provided by `retry_backoff_env`
      #   2. this config value
      retry_backoff: 10s
      retry_backoff_env: "PERCONA_TEST_TELEMETRY_RETRY_BACKOFF"
      retry_count: 20
      send_timeout: 5s
    v1_url_env: "PERCONA_VERSION_CHECK_URL"
    # priority is as follows, from the highest priority
    #   1. value from env name provided by `v1_url_env`
    #   2. this config value
    v1_url: http://localhost:20202/
    endpoints:
      # %s is substituted with `saas_hostname`
      report: https://%s/v1/telemetry/Report
  telemetry_v2:
    enabled: true
    config_location: /etc/percona/telemetry/*.yml
    disable_signing_verification: true
    signing:
      trusted_public_keys:
        - RWToO+zBnSKDsXC2k64DZ23kwgRW52+BtHfYtFM1NC8MoNL7LxxgoyKn
    # priority is as follows, from the highest priority
    #   1. this config value
    #   2. PERCONA_TEST_SAAS_HOST env variable
    #   3. check.percona.com
    saas_hostname: "check.localhost"
    endpoints:
      # %s is substituted with `saas_hostname`
      report: https://%s/v1/telemetry/Report
    datasources:
      VM:
        enabled: true
        timeout: 2s
        address: http://localhost:80/victoriametrics/
      QANDB_SELECT:
        enabled: true
        timeout: 2s
        dsn: tcp://127.0.0.1:9000?database=pmm&block_size=10000&pool_size=2
      PMMDB_SELECT:
        enabled: true
        timeout: 2s
        credentials:
          username: pmm-managed
          password: pmm-managed

    reporting:
      skip_tls_verification: true
      send_on_start: true
      interval: 10s
      interval_env: "PERCONA_TEST_TELEMETRY_INTERVAL"
      retry_backoff: 1s
      retry_backoff_env: "PERCONA_TEST_TELEMETRY_RETRY_BACKOFF"
      retry_count: 2
      send_timeout: 10s

extra_headers:
  enabled: true
#  endpoints:
#    - method: POST
#      endpoint: http://localhost:20202/v1/telemetry/Report
#      headers:
#        Auth-Status: "0"
#        Grpc-Metadata-X-Real-IP: "188.255.42.42"
