# tools
required = [
  "github.com/jstemmer/go-junit-report",
]

[prune]
  go-tests = true
  non-go = true
  unused-packages = true

[[constraint]]
  name = "github.com/percona/pmm"
  branch = "release/2.15"

[[constraint]]
name = "github.com/percona-platform/saas"
branch = "main"
