telemetry:
  #  - id: MySQLVersion
  #    source: VM
  #    query: mysql_version_info
  #    summary: “Select version of monitored MySQL service”
  #    data:
  #      - metric_name: "mysql_version"
  #        label: "version"
  #  - id: NodeLoad1min
  #    source: VM
  #    query: node_load1
  #    summary: “Select monitored nodes load 1 minute”
  #    data:
  ##      - metric_name: "node_load1"  <--- error
  ##        value: 1
  ##        label: 'job'
  #      - metric_name: "node_load1_job"
  #        label: 'job'
  #      - metric_name: "node_load1_instance"
  #        label: 'instance'
  - id: PMMAgentVersion
    source: PMMDB_SELECT
    query: version FROM agents WHERE agent_type='pmm-agent' AND agent_id != 'pmm-server'
    summary: “Select PMM Agents version”
    data:
      - metric_name: "pmm_server_agent_version"
        column: "version"
#  - id: PMMServerQAN
#    source: QANDB_SELECT
#    query: |
#      m_query_time_sum, m_query_time_cnt, num_queries FROM metrics
#      LIMIT 1
#    summary: “Select QAN”
#    data:
#      - metric_name: "node_load1"
#        column: "m_query_time_sum"
#      - metric_name: "m_query_tune_cnt"
#        column: "m_query_tune_cnt"
#      - metric_name: "num_queries"
#        column: "num_queries"
